<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="page-container">
        <div class="page-masthead">
                <img class="page-masthead-icon" src="<%= baseUrl %>/heroku.png" />
        </div>
        <div class="page-content">
            <h1>Hi, I'm Frank's Demo.</h1>
            <h3>If you see the above image, you'll note that it's being pulled down from <%= baseURL %>. This asset was deployed there via Heroku's wicked Release Phase feature. Cool, huh?</h3>
        </div>
    </div>
</body>
</html>